<h1>
    {{#if_eq language "ru"}}
        {{newsObj.title_ru}}
    {{/if_eq}}
    {{#if_eq language "en"}}
        {{newsObj.title_en}}
    {{/if_eq}}
</h1>

<h2>
    {{date newsObj.published_at}}
</h2>

{{#if_eq language "ru"}}
    {{{newsObj.content_ru}}}
{{/if_eq}}
{{#if_eq language "en"}}
    {{{newsObj.content_en}}}
{{/if_eq}}
