<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <!--
              Link contains only icon - additional "icon-only" class
              Additional "open-panel" class tells app to open panel when we click on this link
            -->
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
        <div class="center sliding">{{html10n "ask"}}</div>
        <div class="right"></div>
    </div>
</div>

<div data-page="questions" class="page" data-title="Задать вопрос">
    <div class="page-content">
        <div class="content-block">
            <script class="ask-tpl" type="text/template">
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">{{html10n "your name"}} *:</div>
                                    <div class="item-input">
                                        <input name="fromName" type="text" placeholder='{{html10n "your name"}}' />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">{{html10n "your email"}}:</div>
                                    <div class="item-input">
                                        <input name="fromEmail" type="email" placeholder='{{html10n "your email"}}' />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">{{html10n "your question"}} *</div>
                                    <div class="item-input">
                                        <textarea placeholder='{{html10n "your question here"}}'></textarea>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <button type="submit" class="button button-raised">{{html10n "ask submit"}}</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </script>
        </div>
    </div>
</div>
