<template>
    <div>
        <div v-if="poll && netError === false">
            <h1>{{poll.question}}</h1>

            <div class="list-block card">
                <ul>
                    <li v-for="option in poll.options"
                        class="item-content"
                        :data-option-id="!isVoted ? option.id : null"
                    >
                        <div class="item-media">
                            <template v-if="isVoted || isSubmitting">
                                <template v-if="option.id === selectedOptionID">
                                    <i class="f7-icons">check_round_fill</i>
                                </template>
                                <template v-else>
                                    <i class="f7-icons" style="visibility: hidden;">circle</i>
                                </template>
                            </template>
                            <template v-else>
                                <template v-if="option.id === selectedOptionID">
                                    <i class="f7-icons">check_round</i>
                                </template>
                                <template v-else>
                                    <i class="f7-icons">circle</i>
                                </template>
                            </template>
                        </div>
                        <div class="item-inner vote">
                            <div class="item-title">
                                <div class="text">{{option.text}}</div>

                                <div class="flex" v-if="isVoted">
                                    <!-- Unfortunately option.percentage (computed) does not work bound to :style, I don't know why ¯\_(ツ)_/¯ -->
                                    <div class="bar-wrapper">
                                        <div
                                            class="bar"
                                            :style="'width: ' + calcPercentage(option) + '%'"
                                        ></div>
                                    </div>
                                    <div class="votes">
                                        {{option.votes}}
                                        <template v-if="poll.votes">
                                            ({{calcPercentage(option)}} %)
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="card-footer">
                    Проголосовало: {{poll.votes}}
                </div>
            </div>

            <p v-if="!isVoted">
                <template v-if="isSubmitting">
                    <span style="width:50px; height:50px;" class="preloader">
                        <span class="preloader-inner">
                            <span class="preloader-inner-gap"></span>
                            <span class="preloader-inner-left">
                                <span class="preloader-inner-half-circle"></span>
                            </span>
                            <span class="preloader-inner-right">
                                <span class="preloader-inner-half-circle"></span>
                            </span>
                        </span>
                    </span>
                </template>
                <template v-else>
                    <a href="#"
                       :class="{
                           'button': true,
                           'button-raised': true,
                           'btnVote': true,
                           'disabled': selectedOptionID === null
                       }"
                    >
                        {{_("vote")}}
                    </a>
                </template>
            </p>
        </div>

        <p v-else-if="netError === false" style="text-align: center;">
            {{_("no polls")}}
        </p>

        <div v-else-if="netError === true" style="text-align: center;">
            <p>Ошибка связи</p>

            <a href="#" class="button button-raised btnRetry">
                {{_("retry")}}
            </a>
        </div>

        <template v-else>
            <span style="width:50px; height:50px;" class="preloader">
                <span class="preloader-inner">
                    <span class="preloader-inner-gap"></span>
                    <span class="preloader-inner-left">
                        <span class="preloader-inner-half-circle"></span>
                    </span>
                    <span class="preloader-inner-right">
                        <span class="preloader-inner-half-circle"></span>
                    </span>
                </span>
            </span>
        </template>
    </div>
</template>

<script>
    export default {
        computed: {
            poll() {
                return this.$globals.poll;
            },
            netError() {
                return this.$globals.netError;
            },
            myVotes () {
                return this.$globals.myVotes;
            },
            isSubmitting() {
                return this.$globals.isSubmitting;
            },
            isVoted() {
                return (typeof this.myVotes[this.poll.id] !== typeof undefined);
            },
            selectedOptionID() {
                if (this.isVoted) {
                    return this.myVotes[this.$globals.poll.id];
                } else {
                    return this.$globals.selectedOptionID;
                }
            },
        },
        mounted() {
            this.updatePoll();
        },
        methods: {
            _() {
                //console.log(window.html10n);
                return window.html10n.get.apply(this, arguments);
            },
            calcPercentage(option) {
                return Math.floor(option.votes / this.poll.votes * 100);
            },
            updatePoll() {
                if (this.$globals.netError === false) {
                    $.ajax({
                        url: 'https://trec-course.ru/mobile-app/currentPoll',
                        method: 'get',
                        type: 'get',
                        cache: false,
                        data: {timestamp: parseInt(this.$globals.pollTimestamp)},
                        dataType: 'json',
                        timeout: 45000,
                        success: (data) => {
                            if (typeof data.poll !== typeof undefined) {
                                if (!data.poll || !this.$globals.poll || (data.poll.id !== this.$globals.poll.id)) {
                                    this.$globals.selectedOptionID = null;
                                }
                                this.$globals.poll = data.poll;
                            }
                            this.$globals.pollTimestamp = data.timestamp;
                        },
                        error: () => {
                            this.$globals.netError = true;
                        },
                        complete: () => {
                            setTimeout(() => {this.updatePoll()}, 1000);
                        },
                    });
                } else {
                    setTimeout(() => {this.updatePoll()}, 1000);
                }
            },
        },
    };
</script>

<style lang="scss">
    .vote {
        display: block !important;

        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > .bar-wrapper {
                flex-basis: 100%;

                > .bar {
                    -webkit-transition: width 0.5s;
                    -moz-transition: width 0.5s;
                    -ms-transition: width 0.5s;
                    -o-transition: width 0.5s;
                    transition: width 0.5s;
                    background-color: #00f;
                    height: 20px;
                }
            }

            > .votes {
                justify-self: flex-end;
                text-align: right;
                overflow: visible !important;
                white-space: nowrap !important;
                margin-left: 10px;
            }
        }
    }
</style>
